@tailwind base;
@tailwind components;
@tailwind utilities;

.md * {
  margin: revert;
  padding: revert;
  border: revert;
  font-size: revert;
  font-weight: revert;
  vertical-align: revert;
  list-style: revert;
  text-align: revert;
  text-decoration: revert;
  text-transform: revert;
  text-indent: revert;
  text-shadow: revert;
}

/* styles.css or in a <style> block in your component if you prefer */
.countdown-segment {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8); /* Adjust background as needed */
  border-radius: 0.5rem;
  color: #333; /* Adjust text color as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-width: 60px; /* Minimum width for each segment */
}

.countdown-value {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
}

.countdown-label {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #777; /* Adjust label color */
}

html {
  padding-right: 0 !important;
  overflow: auto !important;
}
